@font-face {font-family: cub11; src: URL(cub11.woff2);}
@font-face {font-family: ins11;src: URL(Iansui094-Regular.woff);}
@font-face {font-family: normal;src: url(華康少女字W6.woff);}
body{background-color: #848D94;color: #D8FFDB; font-size: 1.2vw ;font-family:normal ;height: 100%;}
a{text-decoration:none;}

header{
    background-color: #4E96C7;
    padding:0.1em;
    text-align: center;
    font-family:cub11;
    font-size: 2vw;
    transition:0.5s;
    color:white;
}
header:hover {
    font-size: 2.5vw;
}
#header{
    font-size: 75%;
}

#banner_div{    
  position: relative;
  text-align: center;
}
#banner_text{
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
    font: 3vw ins11;
}
p{
    padding-left: 1%;
}