@font-face {font-family: cub11; src: URL(.c.woff2);}
body{background-color: #32363A;color: white; font:1.2vw 'Noto Sans TC';}
header{text-align:center; font:150% cub11;background-color:#003B4A; color: white;position: fixed;width: 100%;top:0%;left: 0%;padding: 0.2%;transition: 200ms;}
header:hover{font:200% cub11;transition: 200ms;}
table{width: 101.5%;padding-top: 3.1%;margin: -1%;}
#side{width: 25%;vertical-align: top;background-color:#4B3332;max-width: 15%;min-width: 180px;}
#banner{width: 100%;height: 5%;top:0px;}
footer{background-color: #EEEEEE;text-align: center;position: fixed;width: 100%; bottom: 0%;left: 0%;transition: 200ms;}
footer:hover{font-size: 150%;transition: 200ms;}
.sideURL{color: #B1FBEB;text-decoration: none;padding-left: 5%;transition: 200ms;}
.sideURL p{line-height:5%;margin-left: 5%;}
.sideURL:hover{color: #8DC7BA;transition: 200ms;}